In [1]:
import numpy as np
import pandas as pd

In [9]:
df = pd.read_csv('data/worldcup-2018.csv')
df
# df.info()
# Shift + Tab

,Team,Group,Previous \nappearances,Previous \ntitles,Previous\n finals,Previous\n semifinals,Current \nFIFA rank,First match \nagainst,Match index,history with \nfirst opponent\n W-L,history with\n first opponent\n goals,Second match\n against,Match index.1,history with\n second opponent\n W-L,history with\n second opponent\n goals,Third match\n against,Match index.2,history with\n third opponent\n W-L,history with\n third opponent\n goals,Unnamed: 19
0,Russia,A,10,0,0,1,65,Saudi Arabia,1,-1.0,-2.0,Egypt,17,NaN,NaN,Uruguay,33,0.0,0.0,NaN
1,Saudi Arabia,A,4,0,0,0,63,Russia,1,1.0,2.0,Uruguay,18,1.0,1.0,Egypt,34,-5.0,-5.0,NaN
2,Egypt,A,2,0,0,0,31,Uruguay,2,-1.0,-2.0,Russia,17,NaN,NaN,Saudi Arabia,34,5.0,5.0,NaN
3,Uruguay,A,12,2,2,5,21,Egypt,2,1.0,2.0,Saudi Arabia,18,-1.0,-1.0,Russia,33,0.0,0.0,NaN
4,Porugal,B,6,0,0,2,3,Spain,3,-12.0,-31.0,Morocco,19,-1.0,-2.0,Iran,35,2.0,5.0,NaN
5,Spain,B,14,1,1,2,6,Portugal,3,12.0,31.0,Iran,20,NaN,NaN,Morocco,36,5.0,7.0,NaN
6,Morocco,B,4,0,0,0,40,Iran,4,-2.0,-2.0,Portugal,19,1.0,2.0,Spain,36,-5.0,-7.0,NaN
7,IRAN,B,4,0,0,0,32,Morocco,4,2.0,2.0,Spain,20,NaN,NaN,Portugal,35,-2.0,-5.0,NaN
8,France,C,14,1,2,5,9,Australia,5,1.0,6.0,Peru,21,-1.0,-1.0,Denmark,37,4.0,9.0,NaN
9,Australia,C,4,0,0,0,39,France,5,-1.0,-6.0,Denmark,22,-1.0,-3.0,Peru,38,NaN,NaN,NaN
10,Peru,C,4,0,0,0,11,Denmark,6,NaN,NaN,France,21,1.0,1.0,Australia,38,NaN,NaN,NaN
11,Denmark,C,4,0,0,0,12,Peru,6,NaN,NaN,Australia,22,1.0,3.0,France,37,-4.0,-9.0,NaN
12,Argentina,D,16,2,5,5,4,Iceland,7,NaN,NaN,Croatia,23,1.0,0.0,Nigeria,39,3.0,1.0,NaN
13,Iceland,D,0,0,0,0,22,Argentina,7,NaN,NaN,Nigeria,24,1.0,3.0,Croatia,40,-3.0,-9.0,NaN
14,Croatia,D,4,0,0,1,17,Nigeria,8,NaN,NaN,Argentina,23,-1.0,0.0,Iceland,40,3.0,9.0,NaN
15,Nigeria,D,5,0,0,0,50,Croatia,8,NaN,NaN,Iceland,24,-1.0,-3.0,Argentina,39,-3.0,-1.0,NaN
16,Brazil,E,20,5,7,11,2,Switzerland,9,1.0,2.0,Costarica,25,8.0,19.0,Serbia,41,1.0,1.0,NaN
17,Switzerland,E,10,0,0,0,8,Brazil,9,-1.0,-2.0,Serbia,26,NaN,NaN,Costarica,42,0.0,1.0,NaN
18,Costarica,E,4,0,0,0,26,Serbia,10,NaN,NaN,Brazil,25,-8.0,-19.0,Switzerland,42,0.0,-1.0,NaN
19,Serbia,E,11,0,0,2,37,Costarica,10,NaN,NaN,Switzerland,26,NaN,NaN,Brazil,41,-1.0,-1.0,NaN
20,Germany,F,18,4,8,13,1,Mexico,11,4.0,13.0,Sweden,27,2.0,10.0,Korea,43,1.0,0.0,NaN
21,Mexico,F,15,0,0,0,16,Germany,11,-4.0,-13.0,Korea,28,1.0,12.0,Sweden,44,-2.0,-3.0,NaN
22,Sweden,F,11,0,1,4,18,Korea,12,1.0,2.0,Germany,27,-2.0,-10.0,Mexico,44,2.0,3.0,NaN
23,Korea,F,9,0,0,1,59,Sweden,12,-1.0,-2.0,Mexico,28,-1.0,-10.0,Germany,43,-1.0,0.0,NaN
24,Belgium,G,12,0,0,1,5,Panama,13,NaN,NaN,Tunisia,29,0.0,0.0,England,45,-17.0,-70.0,NaN
25,Panama,G,0,0,0,0,56,Belgium,13,NaN,NaN,England,30,NaN,NaN,Tunisia,46,NaN,NaN,NaN
26,Tunisia,G,4,0,0,0,27,England,14,-1.0,-2.0,Belgium,29,0.0,0.0,Panama,46,NaN,NaN,NaN
27,England,G,14,1,1,2,15,Tunisia,14,1.0,2.0,Panama,30,NaN,NaN,Belgium,45,17.0,70.0,NaN
28,Poland,H,7,0,0,2,7,Senegal,15,NaN,NaN,Columbia,31,NaN,NaN,Japan,47,2.0,3.0,NaN
29,Senegal,H,1,0,0,0,23,Poland,15,NaN,NaN,Japan,32,2.0,3.0,Columbia,48,0.0,0.0,NaN
30,Columbia,H,5,0,0,0,13,Japan,16,2.0,2.0,Poland,31,NaN,NaN,Senegal,48,0.0,0.0,NaN
31,Japan,H,5,0,0,0,55,Columbia,16,-2.0,-2.0,Senegal,32,-2.0,-3.0,Poland,47,-2.0,-3.0,NaN

In [7]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,Team,Group,Previous \nappearances,Previous \ntitles,Previous\n finals,Previous\n semifinals,Current \nFIFA rank,First match \nagainst,Match index,history with \nfirst opponent\n W-L,history with\n first opponent\n goals,Second match\n against,Match index,history with\n second opponent\n W-L,history with\n second opponent\n goals,Third match\n against,Match index,history with\n third opponent\n W-L,history with\n third opponent\n goals,NaN
1,Russia,A,10,0,0,1,65,Saudi Arabia,1,-1,-2,Egypt,17,NaN,NaN,Uruguay,33,0,0,NaN
2,Saudi Arabia,A,4,0,0,0,63,Russia,1,1,2,Uruguay,18,1,1,Egypt,34,-5,-5,NaN
3,Egypt,A,2,0,0,0,31,Uruguay,2,-1,-2,Russia,17,NaN,NaN,Saudi Arabia,34,5,5,NaN
4,Uruguay,A,12,2,2,5,21,Egypt,2,1,2,Saudi Arabia,18,-1,-1,Russia,33,0,0,NaN

In [11]:
df.head(3)

,Team,Group,Previous \nappearances,Previous \ntitles,Previous\n finals,Previous\n semifinals,Current \nFIFA rank,First match \nagainst,Match index,history with \nfirst opponent\n W-L,history with\n first opponent\n goals,Second match\n against,Match index.1,history with\n second opponent\n W-L,history with\n second opponent\n goals,Third match\n against,Match index.2,history with\n third opponent\n W-L,history with\n third opponent\n goals,Unnamed: 19
0,Russia,A,10,0,0,1,65,Saudi Arabia,1,-1.0,-2.0,Egypt,17,NaN,NaN,Uruguay,33,0.0,0.0,NaN
1,Saudi Arabia,A,4,0,0,0,63,Russia,1,1.0,2.0,Uruguay,18,1.0,1.0,Egypt,34,-5.0,-5.0,NaN
2,Egypt,A,2,0,0,0,31,Uruguay,2,-1.0,-2.0,Russia,17,NaN,NaN,Saudi Arabia,34,5.0,5.0,NaN